<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    stderr="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <!-- Uncomment to enable the DebugKit toolbar during tests -->
        <env name="DEBUG" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Prevent coverage reports from having warnings unless you opt in -->
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>
</phpunit>
