body {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0px;
  background-color: aliceblue;
}
li.libutton {
  border: 2px solid white;
  border-radius: 2px;
}
li.user {
  color: white;
  line-height: 2.8125rem;
  margin-right: 10px;
}
li.search {
  color: white;
  line-height: 2.8125rem;
  margin-left: 10px;
}
select.div-toggle {
  width: 20%;
}
.markdown-body {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  min-width: 0px;
}
.markdown-body img {
  max-width: 100%;
}
.packagebox {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px;
    background-color: white;
}
a {
  color: #036;
}
.outlinebox {
    display:inline-block;
    border:1px solid #ddd;
    padding:5px 5px 0px 5px;
    border-radius:5px;
    background-color: white;
}
code {
  color: #000;
}
h1,h2,h3,h4,h5,h6 {
  color: #036;
}
.content h1 {
  color: #036;
}
.content h2 {
  color: #036;
}
.content h3 {
  color: #036;
}
.content h4 {
  color: #036;
  font-size: large;
  display: inline;
  padding-bottom: 0;
  border-bottom: none;
}
.content .related h4 {
  color: #036;
}
.content h5 {
  color: #036;
}
.content h6 {
  color: #036;
}
.row {
  max-width: 100%;
}
