body {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0px;
  background-color: aliceblue;
  color: #333;
}
li.libutton {
  border: 2px solid white;
  border-radius: 2px;
}
li.user {
  color: white;
  line-height: 2.8125rem;
  margin-right: 10px;
}
li.search {
  color: white;
  line-height: 2.8125rem;
  margin-left: 10px;
}
select.div-toggle {
  width: 20%;
}
.markdown-body {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  min-width: 0px;
}
.markdown-body img {
  max-width: 100%;
}
.packagebox {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px;
    background-color: white;
}
a {
  color: #036;
}
.outlinebox {
    display:inline-block;
    border:1px solid #ddd;
    padding:5px 5px 0px 5px;
    border-radius:5px;
    background-color: white;
}
code {
  color: #000;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #036;
}
.content h1 {
  color: #036;
}
.content h2 {
  color: #036;
}
.content h3 {
  color: #036;
}
.content h4 {
  color: #036;
  font-size: large;
  display: inline;
  padding-bottom: 0;
  border-bottom: none;
}
.content .related h4 {
  color: #036;
}
.content h5 {
  color: #036;
}
.content h6 {
  color: #036;
}
.row {
  max-width: 100%;
}

.navbar {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(248, 248, 248) 100%);
    border-width: 0px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 5px 0px
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-item {
    padding-left: 10px;
}

pre {
    background-color: #FFF;
    border: 1px solid #999;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 4px 0px;
    padding: 5px;
}

/* This was part of Bootstrap 3.x but was replaced with an attribute
 * selector called [hidden] in Bootstrap 4. The class is easier to use
 * for our purposes.
 */
.hide {
    display: none !important;
}
